# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main" , "master"]

jobs:
  build:
    concurrency: {% raw -%}ci-${{ github.ref }}{%- endraw %}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: "{{cookiecutter.docker_build_image_version}}"
    - name: Build
      run: make build

  test:
    concurrency: {% raw -%}ci-${{ github.ref }}{%- endraw %}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: "{{cookiecutter.docker_build_image_version}}"
    - name: Test
      run: make test

  benchmark:
    concurrency: {% raw -%}ci-${{ github.ref }}{%- endraw %}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: "{{cookiecutter.docker_build_image_version}}"
    - name: Benchmark
      run: make bench

  lint:
    concurrency: {% raw -%}ci-${{ github.ref }}{%- endraw %}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: "{{cookiecutter.docker_build_image_version}}"
    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.8
        args: --timeout 5m
